[submodule "Dependencies/File"]
	path = Dependencies/File
	url = git@gitlab.com:__RC/File.git
	branch = main
[submodule "Dependencies/Input"]
	path = Dependencies/Input
	url = git@gitlab.com:__RC/Input.git
	branch = main
[submodule "Dependencies/DynamicOutput"]
	path = Dependencies/DynamicOutput
	url = git@gitlab.com:__RC/DynamicOutput.git
	branch = main
[submodule "Dependencies/Function"]
	path = Dependencies/Function
	url = git@gitlab.com:__RC/Function.git
	branch = main
[submodule "Dependencies/Helpers"]
	path = Dependencies/Helpers
	url = git@gitlab.com:__RC/Helpers.git
	branch = main
